# Ignore everything
/*

# Ignore all files named (wherever they are):
.DS_Store
.log

# Except these
# Files
!.clang-format
!.gitignore
!.github
!CMakeLists.txt
!COPYRIGHT.md
!LICENSE.md
!README.md

# Directories
!cmake
!docs
!include
!src
!tools

# Generated
docs/ReleaseNotes/version
